<p id="notice"><%= notice %></p>
<h1>Listing reserves</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Cantidad</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reserves.each do |reserf| %>
  <tr>
    <td><%= reserf.estado %></td>
    <td><%= reserf.cantidad %></td>
    <td><%= reserf.user.nombre %></td>
    <td><%= link_to 'Show', reserf %></td>
    <td><%= link_to 'Cancelar', reserf, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Despachar', edit_reserf_path(reserf) %></td>
    <td><%= link_to 'Ver Lista Materiales', materiales_path() %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Reserve', new_reserf_path %>




