<h1>Listing reserves</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reserves.each do |reserf| %>
  <tr>
    <td><%= reserf.estado %></td>
    <td><%= reserf.user.nombre %></td>
    <td><%= link_to 'Show', reserf %></td>
    <td><%= link_to 'Edit', edit_reserf_path(reserf) %></td>
    <td><%= link_to 'Destroy', reserf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Reserve', new_reserf_path %>
<%if(session[:userdata]!=nil)%>
<%= link_to 'log out', session_path, :method=>:delete %>
<%end%>