<p id="notice"><%= notice %></p>

<p>
  <b>Estado:</b>
  <%= @reserf.estado %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @reserf.cantidad %>
</p>

<p>
  <b>User:</b>
  <%= @reserf.user.nombre %>
</p>
<p>
<b>Associated materials:</b>
  <%= @reserf.materials.map{|p| p.nombre}.to_sentence %>
</p>


<%= link_to 'Back', reserves_path %>



