<h1>Listado todos los materiales</h1>

<table>
  <tr>
    <th>Cantidadfisica</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Unidadmedida</th>
    <th>Preciounidad</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.cantidadfisica %></td>
    <td><%= material.nombre %></td>
    <td><%= material.descripcion %></td>
    <td><%= material.unidadmedida %></td>
    <td><%= material.preciounidad %></td>
    <td><%= material.category.nombre %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', categories_path%>
